In [18]:
import pandas as pd
import numpy as np

In [19]:
test = pd.read_excel('C:/Users/Пользователь/OneDrive/Рабочий стол/test1.xlsx')

In [20]:
test

      one
0     yes
1      no
2  yesyes
3    nono

In [22]:
test["two"] = test["one"].str.startswith("yes")

In [23]:
test

      one    two
0     yes   True
1      no  False
2  yesyes   True
3    nono  False

In [24]:
test.replace([True, False], [1, 0])

      one  two
0     yes    1
1      no    0
2  yesyes    1
3    nono    0

In [25]:
test.to_excel('C:/Users/Пользователь/OneDrive/Рабочий стол/test1.xlsx', index=False)