In [105]:
import pandas as pd
import numpy as np

In [106]:
test = pd.read_excel('D:/test.xlsx')

In [107]:
test

      one
0     yes
1      no
2  yesyes
3    nono

In [108]:
test["two"] = test['one'].str.contains(r'\byes').astype(np.int8)

In [109]:
test

      one  two
0     yes    1
1      no    0
2  yesyes    1
3    nono    0

In [110]:
test.to_excel('D:/test.xlsx', index=False)