In [61]:
import pandas as pd
import numpy as np

In [56]:
test = pd.read_excel('C:/Users/Пользователь/OneDrive/Рабочий стол/test1.xlsx')

In [57]:
test

      one
0     yes
1      no
2  yesyes
3    nono

In [62]:
test["two"] = test["one"].str.contains('yes').astype(np.int8)

In [63]:
test

      one  two
0     yes    1
1      no    0
2  yesyes    1
3    nono    0

In [60]:
test.to_excel('C:/Users/Пользователь/OneDrive/Рабочий стол/test1.xlsx', index=False)